@font-face {
    font-family: 'MyFont';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/indie_flower/IndieFlower.ttf') format('truetype');
}
@font-face {
    font-family: 'MyFont2';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/itim/Itim-Regular.ttf') format('truetype');
}
:root {
    --primary-c1: #F7F8D7;
    --primary-c2: #E9C6A6;
    --primary-c3: #d95c8a;
    --secondary-c1: #3C3B3B;
    --secondary-c2: #2E2E2E;
    --secondary-c3: #111;
}




    /* Common Styling... */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'MyFont2', sans-serif;
    font-size: 2vh;
}

.horizontal-scroll section{
    height: 100%;
    padding: 3vh 3vw;
    /* background-color: rgb(255, 255, 255); */
    
}

.odd-section {
    background-color: var(--secondary-c1);
    color: var(--primary-c1);
}
.even-section {
    
    background-color: var(--secondary-c1);
    /* background-image: url("../static/images/bitmap.png"); */
    background-size: cover;
    /* color: var(--prim); */
    background-repeat: no-repeat;
    
}


body{ 
    scroll-behavior: smooth;
    background-color: var(--secondary-c2);
}
section{
    width: 100vw;
    height: 100vh;
    /* padding: 1vh 1vw; */
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 1fr auto; */
    /* gap: 1vh; */
}
section.main-container{
    background: url("/static/images/fakeCanvas.png" );
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}
.horizontal-scroll{
    /* background-color: rgb(212, 255, 0); */
    /* padding: 1vh 1vw; */
    display: grid;
    height: 100%;
    grid-template-columns: 100vw 100vw 100vw;
    /* gap: 2vw; */
    overflow-x: scroll;
}
.horizontal-scroll::-webkit-scrollbar{
    visibility: hidden;
}
.horizontal-scroll a{
    /* display: inline-block; */
    background: transparent;
    color: var(--primary-c2);
    font-size: 25px;
    text-align: center;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: auto;
    border: 2px solid var(--primary-c1);
    transition: all 0.5s ease;
}

main{
    height: 100%;
}
.heading-text {
    font-family: 'MyFont', sans-serif;
    font-size: 6vh;
    font-weight: 800;
}
.sub-heading-text {
    font-size: 27px;
}
.sub-heading-text span {
    color: var(--primary-c2);
    font-size: 27px;
}
.sub-heading-text-2 {
    
}
.title{
    position: relative;
    text-align: center;
    margin-bottom: 60;
    padding-bottom: 20px; 
}  
.title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: var(--primary-c2);
    transform: translateX(-50%);
}    
.title::after{
    position: absolute;
    bottom: -20px;
    left: 50%;
    font-size: 20px;
    color: var(--primary-c2);
    padding: 0px 10px;
    background: var(--secondary-c1);
    transform: translateX(-50%);
}    
a{
    text-decoration: none;
}
.logo {
    font-size: 4vh;
    color: var(--primary-c1);
    font-family: 'MyFont', sans-serif;
    font-weight: 800;
    /* padding: 1vh 1vw; */
}
.logo span {
    font-family: 'MyFont', sans-serif;
    font-size: 4vh;
    color: var(--primary-c2);
}




/* NavBar styling... */
.navbar{
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 3vw;
}
.navbar ul{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.navbar li{
    list-style: none;
}
.navbar li a, .navbar .menu-btn {
    color: var(--primary-c1);
    font-size: 3vh;
}
.navbar .right{
    display: flex;
    align-items: center;
    gap: 1vw;
}






/* Home Section Styling */
.home {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}




.home .banner {

    /* position: absolute; */
    /* top: 0%;
    right: 0%; */
    /* height: 100vh; */
}





/* About Section Styling */
.about {
    background: transparent;
    display: flex;
    flex-direction: column;
}
.about .title {
    
}
.about .title::after{
    z-index: 1000;
    content: "Who I am";

}
.about .title::before {
    
}
.about .content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: right;
    align-items: flex-end;
    
}
.about .upper {
    width: 50vw;
    background-color: var(--secondary-c1);
    /* padding: 5vh 5vw 5vh 40vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}
.about .upper .text1 {
}
.about .right .text2 {
}
.about .lower {
    padding: 5vh 5vw 5vh 10vw;
    height: 100%;
    display: flex;
    
    left: 0%; 
    height: 100%;
}
.about .lower .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
}

.about .lower .grid {
    /* background: #fff; */

}

/* .about .left img {
    height: auto;
    width: 50vw;
} */
.about a {
    width: 250px;
    border-color: var(--primary-c2);
}




/* Services Section Styling */
.skill .title::after{
    z-index: 1000;
    content: "What I know";
}




/* Footer */
.footer ul{
    display: flex;
    gap: 1vw;
}
.footer li{
    list-style: none;
}

.footer .right{
    display: flex;
    gap: 1vw;
}