@font-face {
    font-family: 'MyFont';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/indie_flower/IndieFlower.ttf') format('truetype');
}
@font-face {
    font-family: 'MyFont2';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/itim/Itim-Regular.ttf') format('truetype');
}





    /* Common Styling... */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
}

.home, .about, .skill{
    height: 100%;
    background-color: rgb(255, 169, 201);
    
}

.odd-section {
    background-color: var(--secondary-c1);
    color: var(--primary-c1);
}

:root {
    --primary-c1: #F7F8D7;
    --primary-c2: #E9C6A6;
    --secondary-c1: #3C3B3B;
    --secondary-c2: #2E2E2E;
    --secondary-c3: #111;
}

body{ 
    scroll-behavior: smooth;
}
section{
    width: 100vw;
    height: 100vh;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 1fr auto; */
    gap: 1vh;
}
a{
    text-decoration: none;
}
.horizontal-scroll{
    background-color: rgb(212, 255, 0);
    padding: 1vh 1vw;
    display: grid;
    height: 100%;
    grid-template-columns: 96vw 96vw 96vw;
    gap: 2vw;
    overflow-x: scroll;
}
.horizontal-scroll::-webkit-scrollbar{
    visibility: hidden;
}

main{
    height: 100%;
}






/* NavBar styling... */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    gap: 1vw;
}
.navbar li{
    list-style: none;
}

.navbar .right{
    display: flex;
    gap: 1vw;
}




/* Home Section Styling */







/* Home Section Styling */






/* Home Section Styling */





/* Footer */
.footer ul{
    display: flex;
    gap: 1vw;
}
.footer li{
    list-style: none;
}

.footer .right{
    display: flex;
    gap: 1vw;
}