/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,900&family=Ubuntu:wght@400;500;700&display=swap'); */
@font-face {
    font-family: 'MyFont';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/indie_flower/IndieFlower.ttf') format('truetype');
}
@font-face {
    font-family: 'MyFont2';
    font-weight: normal;
    font-style: normal;
    src: url('../static/fonts/itim/Itim-Regular.ttf') format('truetype');
}
:root {
    --primary-c1: #F7F8D7;
    --primary-c2: #E9C6A6;
    --secondary-c1: #3C3B3B;
    --secondary-c2: #2E2E2E;
    --secondary-c3: #111;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300;
    padding: 0 80px;
    margin: auto;
}
/* navBar style */
.navbar{
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    /* padding: 30px 0px; */
    font-family: 'MyFont', sans-serif;
    transition: all 0.5s ease;
}
.navbar.sticky{
    /* padding: 10px 0; */
    background: var(--secondary-c2);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: var(--primary-c1);
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: var(--primary-c2);
    transition: all 0.5s ease;

}
.navbar.sticky .logo a span{
    color: var(--primary-c1);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    
}
.navbar .menu li a{
    color: var(--secondary-c1);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.5s ease;
}
.navbar.sticky .menu li a{
    color: var(--primary-c1);

}
.navbar .menu li a:hover{
    color: var(--primary-c2);
    font-weight: 800;
}
.navbar.sticky .menu li a:hover{
    color: var(--primary-c1);
}
/* menu btn styling */
.menu-btn{
    color: var(--primary-c1);
    font-size: 23px;
    cursor: pointer;
    display: none; 
}








/* Home section styling*/
.home{
    display: flex;
    /* background: url("../static/images/bitmap-1.png")no-repeat center; */
    background-color: var(--secondary-c2);
    height: 100vh;
    color: var(--primary-c1);
    min-height: 500;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'MyFont', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px; 
    height: 100vh;
}

.home .home-content{
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 40%;
}

.home .home-content .text-1{
    font-family: 'MyFont2', sans-serif;
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;

}
.home .home-content .text-3{
    font-family: 'MyFont2', sans-serif;
    font-size: 27px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    font-weight: 500;
    color: var(--primary-c2);
}

.banner, .character {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100vh;
}

.character {
    /* right: %;;
    top: -30%;
    height: 1000px;
    width: 1000px; */
}

.home .home-content a{
    display: inline-block;
    background: var(--primary-c2);
    color: var(--primary-c1);
    font-size: 25px;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-c2);
    transition: all 0.5s ease;
}

.home .home-content a:hover{
    color: var(--primary-c2);
    background: none;
}    








/* all similar content styling code */

section{
    padding: 50px 0;
}

.about, .services, .skills{
    font-family: 'MyFont', sans-serif;
}    
.about .about-content,
.services .serv-content,
.skills .skills-content{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60;
    padding-bottom: 20px; 
    font-family: 'MyFont', sans-serif;
}    
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 280px;
    height: 3px;
    background: rgb(1,1,1);
    transform: translateX(-50%);
}    
section .title::after{
    position: absolute;
    bottom: -14px;
    left: 50%;
    font-size: 20px;
    color: var(--primary-c2);
    padding: 5px;
    background: var(--primary-c1);
    transform: translateX(-50%);
}    







/* about section styling start */
.about {
    background-color: var(--secondary-c1);
    color: var(--primary-c1);
    height: 100vh;
}
.about .max-width {
    /* height: 100vh ; */
    
}

.about .title::after{
    content: "Who I am";
    background: var(--secondary-c1);

}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left .fakeCanvas{
    background-color: var(--primary-c2);
    height: 500px;
    width: 500px;
    object-fit: cover;
    /* border-radius: 50%;   */
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text2 {
    font-family: 'MyFont2', sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 10px;

}
.about .about-content .right .text1 span{
    color: var(--primary-c2);
}
.about .about-content .right  p{
    text-align: justify;

}
.about .about-content .right  a{
    display: inline-block;
    background: var(--primary-c2);
    color: var(--primary-c1);
    font-size: 20px;
    font-weight: 500;
    padding: 5px 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid var(--primary-c2);
    transition: all 0.5s ease;
}
.about .about-content .right  a:hover{
    color: var(--primary-c2);
    background: none;
    
}
















/* services section styling */

.services{
    color: var(--primary-c1);
    background: var(--secondary-c2);
}
.services .title::before{
    background: var(--primary-c2);
}
.services .title::after{
    background: var(--secondary-c2);
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: var(--secondary-c3);
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin-bottom: 20px;
    cursor: pointer;
}
.services .serv-content .card:hover{
    background: var(--primary-c2);
}
.services .serv-content .card .box{
    transition: all 0.5s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.1);
}
.services .serv-content .card i{
    font-size: 50px;
    color: var(--primary-c2) ;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: var(--primary-c1);
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}






    
/* skills sections styling */
 
.skills .title::after{
    content: "what I know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text-1{

    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left .text-2 {
    font-family: 'MyFont2', sans-serif;
}













/* reponsive media query start*/
@media  (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media  (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media  (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}


@media  (max-width: 941px){
    
    .menu-btn{
        display: block; 
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgba(17, 17, 17, 0.955);
        text-align: center;
        padding-top: 80px;
        transition: all 0.5s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;

    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 100%;
        
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        
    }

    .about .about-content .right{
        width: 100%;
        
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;

    }

    
}

@media  (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
        padding: 9px 25px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}
@media  (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}









